services:
  database:
    image: postgres:16-alpine
    env_file:
      - .env
    volumes:
      - privat-unmei-data:/var/lib/postgresql/data
    ports:
      - 5433:5432
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  privat-unmei-data: