services:
  database:
    image: postgres:16-alpine
    env_file:
      - backend/.env
    volumes:
      - privat-unmei-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - app-network
  redis:
    image: redis
    restart: unless-stopped
    volumes:
      - redis-data:/data
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app-network
  migrate:
    build:
      dockerfile: ./backend/Dockerfile.migrate
    env_file:
      - backend/.env
    restart: "no"
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app-network
  backend:
    build:
      dockerfile: ./backend/Dockerfile.web
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - backend/.env
    restart: unless-stopped
    networks:
      - app-network
  cron:
    build:
      dockerfile: ./backend/Dockerfile.cron
    env_file:
      - backend/.env
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - app-network
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - cron
    networks:
      - app-network
  proxy:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
    ports:
      - 80:80
    networks:
      - app-network
  postgres-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: postgres-exporter
    restart: always
    env_file:
      - backend/.env
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app-network
  loki:
    image: grafana/loki:latest
    restart: unless-stopped
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ./backend/loki/loki-config.yaml:/etc/loki/loki-config.yaml:ro
      - loki-data:/loki
    networks:
      - app-network
  promtail:
    image: grafana/promtail:latest
    restart: unless-stopped
    user: root
    volumes:
      - ./backend/promtail/promtail-config.yaml:/etc/promtail/promtail-config.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - loki
    command: -config.file=/etc/promtail/promtail-config.yaml
    networks:
      - app-network
  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    container_name: prometheus
    volumes:
      - ./backend/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - postgres-exporter
      - backend
    networks:
      - app-network
  grafana:
    image: grafana/grafana
    restart: unless-stopped
    ports:
      - 3000:3000
    depends_on:
      - loki
      - prometheus
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - app-network

volumes:
  privat-unmei-data:
  grafana-storage:
  loki-data:
  redis-data:

networks:
  app-network:
    driver: bridge
