@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


:root{
    --text-color: #0F1035;
    --background--color: #DCF2F1;
}

p{
    color: var(--text-color);
}

body{
    background-color: var(--background--color);
}
